body {
    font-family: Roboto Condensed, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    background-color: #012e07;
    color: #fff;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    justify-content: space-between; 
}
header img {
    width: 75px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0.9rem;
    font-size: 1.2rem;
}
nav li a:hover {
    background-color: #00540b;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}
@media(max-width: 60em) {
    .hamburger {
        display: block;
        padding-right: 25px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }    
    .hamburger.active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #012e07;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px;
    }
    .nav-menu.active {
        left: 0;
    }
}
.logo {
    display: flex;
}
.heading {
    display: flex;
}
main {
    display: block;
    margin: 10px;
}
.main-grid {
    background-color: #00540b;
    color: #fff;
    padding: 0 10px;
}
.main-grid h3 {
    text-align: center;
}
#callToAction {
    background-image: url("chamber/images/Mountain-300.jpg");
    background-position: center;
    background-size: 100%;
}
#callToAction h3{
    color: white;
    background-color: #00540b;
}
a {
    text-decoration: none;
    color: #fff;
}
a.active {
    text-decoration: none;
    color: #fff;
}
#eventsList {
    list-style-type: none;
}
#weather {
    text-align: center;
}
#spotlights h4 {
    text-align: center;
}
#spotlight1 {
    background-color: #012e07;
    margin: 10px;
    padding: 10px;
}
#spotlight2 {
    background-color: #012e07;
    margin: 10px;
    padding: 10px;   
}
footer {
    display: flex;
    align-items: center;
    background-color: #012e07; 
    color:#fff; 
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;  
    padding: 15px;  
    align-items: center;
    justify-content: center;   
}
footer img {
    width: 50px;
}
.assignment-info ul{
    list-style-type: none;
    overflow: hidden;
}
.discovery-page {
    display: grid;
    text-align: center;
    justify-items: center;
    padding: 20px;
    grid-template-columns: 1fr;
    background-color: #00540b;
    color:#fff;
}
.discovery-page img {
    width: 200px;
}