header {
    display: grid;
    background-color: orange;
    border-radius: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    justify-items: center;
    align-items: center;
}
#profile {  
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 80px;
    padding-top: 1em;
    border-radius: 50%;
}
header h1{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
ul {
    list-style-type: none;
}
#lessons {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
}
footer {
    display: grid;
    background-color: orange;
    border-radius: 0px;
    font-family: 'Roboto Condensed', sans-serif; 
    align-items: center;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
}

